.previewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.labelsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
} 